.justify-content\:space-between{
    justify-content: space-between;
}

.align-items\:center {
    align-items: center;
}

.padding\:s1 {
    padding: $s1;
}

.max-width\:measure {
    max-width: $measure;
}

.max-width\:500px {
    max-width: $s3;
}

.font-weight\:normal{
    font-weight: normal;
}