.cluster {
    --space: #{$s0};
  
    overflow: hidden;
  
    &.s-5 {
      --space: #{$s-5};
    }
  
    &.s-4 {
      --space: #{$s-4};
    }
  
    &.s-3 {
      --space: #{$s-3};
    }
  
    &.s-2 {
      --space: #{$s-2};
    }
  
    &.s-1 {
      --space: #{$s-1};
    }
  
    &.s1 {
      --space: #{$s1};
    }
  
    &.s2 {
      --space: #{$s2};
    }
  
    &.s3 {
      --space: #{$s3};
    }
  
    &.s4 {
      --space: #{$s4};
    }
  
    &.s5 {
      --space: #{$s5};
    }
  
    & > * {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin: calc(var(--space) / 2 * -1);
    }
  
    & > * > * {
      margin: calc(var(--space) / 2);
    }
  }