.switcher > * {
    --space: #{$s3};
    --threshold: 50em;
  
    display: flex;
    flex-wrap: wrap;
    margin: calc((var(--space) / 2) * -1);
  
    &.small {
      --space: #{$s0};
      --threshold: 21em;
    }
  }
  
  .switcher > * > * {
    flex-grow: 1;
    flex-basis: calc((var(--threshold) - (100% - var(--space))) * 999);
    margin: calc(var(--space) / 2);
  }
  
  .switcher > * > :nth-last-child(n+3),
  .switcher > * > :nth-last-child(n+3) ~ * {
    flex-basis: 100%;
  }

  @media screen and (max-width: 48em) {
    .switcher > * {
      --space: #{$s0}
    }
  }