<div class="stack s1">
    <div class="stack s-4">
        <label for="billing-name-field" class="h4"><span class="hidden">Billing</span> Name</label>
        <input type="text" name="Billing Name" id="billing-name-field" placeholder="eg. John Smith" required />
    </div>
    <div class="stack s-4">
        <label for="billing-address-field" class="h4"><span class="hidden">Billing</span> Address</label>
        <textarea name="Billing Address" id="billing-address-field" cols="30" rows="5"
            placeholder="eg. 123 Main Str. Apt 3F, Brooklyn, NY, 11201, United States" required></textarea>
    </div>
    <div class="stack s-4">
        <label for="billing-phone-field" class="h4"><span class="hidden">Billing</span> Phone Number</label>
        <input type="text" name="Billing Phone" id="billing-phone-field" placeholder="eg. +016179444069" required />
    </div>
    <div class="stack s-4">
        <label for="billing-email-field" class="h4"><span class="hidden">Billing</span> Email Address</label>
        <input type="email" name="Billing Email" id="billing-email-field" placeholder="eg. JohnSmith@gmail.com"
            required />
    </div>
    <div class="stack s-4">
        <label for="payment-method" class="h4">Payment Method</label>
        <div class="cluster">
            <div class="wrapper">
                <label>
                    <input type="radio" name="payment-method" id="check" value="Check" required />Check
                </label>
                <label>
                    <input type="radio" name="payment-method" id="direct-deposit" value="Direct Deposit"
                        required />Direct Deposit
                </label>
                <label>
                    <input type="radio" name="payment-method" id="paypal" value="PayPal" required />PayPal
                </label>
                <label>
                    <input type="radio" name="payment-method" id="wire-transfer" value="Wire Transfer" required />Wire
                    Transfer
                </label>
            </div>
        </div>
    </div>
</div>