<div class="stack s1">
    <div class="stack s-4">
        <label for="billing-name-field" class="h4">Name</label>
        <input type="text" name="Billing Name" id="billing-name-field" placeholder="eg. John Smith" required/>
    </div>
    <div class="stack s-4">
        <label for="billing-address-field" class="h4">Billing Address</label>
        <textarea name="Billing Address" id="billing-address-field" cols="30" rows="5" placeholder="eg. 123 Main Str. Apt 3F, Brooklyn, NY, 11201, United States" required></textarea>
    </div>
    <div class="stack s-4">
        <label for="billing-phone-field" class="h4">Phone Number</label>
        <input type="text" name="Billing Phone" id="billing-phone-field" placeholder="eg. +016179444069" required/>
    </div>
    <div class="stack s-4">
        <label for="billing-email-field" class="h4">Email Address</label>
        <input type="email" name="Billing Email" id="billing-email-field" placeholder="eg. JohnSmith@gmail.com" required/>
    </div>
    <div class="stack s-4">
        <h4>Payment Method</h4>
        <div class="cluster">
            <div class="wrapper">
                <div class="option">
                    <input type="radio" name="payment-method" id="check" value="Check" required>
                    <label for="check">Check</label>
                </div>
                <div class="option">
                    <input type="radio" name="payment-method" id="direct-deposit" value="Direct Deposit" required>
                    <label for="direct-deposit">Direct Deposit</label>
                </div>
                <div class="option">
                    <input type="radio" name="payment-method" id="paypal" value="PayPal" required>
                    <label for="paypal">PayPal</label>
                </div>
                <div class="option">
                    <input type="radio" name="payment-method" id="wire-transfer" value="Wire Transfer" required>
                    <label for="wire-transfer">Wire Transfer</label>
                </div>
            </div>
        </div>
    </div>
</div>