<section id="landing" class="cover">
    <main class="stack s3">
        <h1>Taking care of ourselves by taking care of others</h1>
        <h3 class="font-weight:normal">We are helping to get PPE in the hands of peole who need it.</h3>
        <div class="cluster">
            <div class="wrapper">
                <a href="#order" class="button">Order Now</a>
            </div>
        </div>
    </main>
</section>