<section id="mission" class="cover">
    <main class="switcher">
        <div class="wrapper">
            <div class="stack s3">
                <h2>Our Mission</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Sit amet commodo nulla facilisi nullam vehicula. Aliquet porttitor lacus
                    luctus accumsan tortor posuere ac ut. A diam maecenas sed enim ut sem viverra. Mauris commodo quis
                    imperdiet massa tincidunt nunc pulvinar. Mauris cursus mattis molestie a iaculis at erat
                    pellentesque. Mattis aliquam faucibus purus in massa tempor nec. Donec pretium vulputate sapien nec
                    sagittis. Lectus proin nibh nisl condimentum id. Etiam erat velit scelerisque in dictum. Arcu dui
                    vivamus arcu felis bibendum ut tristique. Ipsum dolor sit amet consectetur. Non diam phasellus
                    vestibulum lorem sed risus ultricies tristique. Consectetur adipiscing elit duis tristique. Ultrices
                    eros in cursus turpis massa tincidunt dui ut ornare. Viverra justo nec ultrices dui sapien. Tempus
                    urna et pharetra pharetra massa massa ultricies mi. Nec ullamcorper sit amet risus nullam eget. In
                    nulla posuere sollicitudin aliquam ultrices sagittis orci a.</p>
            </div>
            <div class="frame">
                <img src="_includes/assets/img/undraw_medical_care_movn.svg"
                    alt="Illustration of two nurses in medical gear.">
            </div>
        </div>
    </main>
</section>