<header class="navbar cluster">
    <div class="wrapper justify-content:space-between align-items:center">
        <span class="logo">Pedesis LTD</span>
        <nav class="cluster s1">
            <div class="wrapper">
                <a href="#mission" class="navlink">Our Mission</a>
                <a href="#order" class="navbutton">Order Now</a>
            </div>
        </nav>
    </div>
</header>