<div class="cluster s3">
    <div class="wrapper">
        <div class="stack s-4">
            <label for="bfe-field" class="h4">BFE Masks</label>
            <div><input type="number" name="BFE Masks" id="bfe-field" placeholder="eg. 5" /> boxes</div>
        </div>
        <div class="stack s-4">
            <label for="kn95-field" class="h4">KN95 Masks</label>
            <div><input type="number" name="KN95 Masks" id="bfe-field" placeholder="eg. 120" /> pieces</div>
        </div>
    </div>
</div>