<div class="stack s1">
    <div class="stack s-4">
        <label for="shipping-name-field" class="h4"><span class="hidden">Shipping</span> Name</label>
        <input type="text" name="Shipping Name" id="shipping-name-field" placeholder="eg. John Smith" required/>
    </div>
    <div class="stack s-4">
        <label for="shipping-address-field" class="h4">Shipping Address</label>
        <textarea name="Shipping Address" id="shipping-address-field" cols="30" rows="5" placeholder="eg. 123 Main Str. Apt 3F, Brooklyn, NY, 11201, United States" required></textarea>
    </div>
    <div class="stack s-4">
        <label for="shipping-phone-field" class="h4"><span class="hidden">Shipping</span> Phone Number</label>
        <input type="text" name="Shipping Phone" id="shipping-phone-field" placeholder="eg. +016179444069" required/>
    </div>
    <div class="stack s-4">
        <label for="shipping-email-field" class="h4"><span class="hidden">Shipping</span> Email Address</label>
        <input type="email" name="Shipping Email" id="shipping-email-field" placeholder="eg. JohnSmith@gmail.com" required/>
    </div>
    <div class="stack s-4">
        <label for="shipping-method" class="h4">Shipping Method</label>
        <div class="cluster">
            <div class="wrapper">
                <label>
                    <input type="radio" name="shipping-method" id="fedex" value="FedEx" required />FedEx
                </label>
                <label>
                    <input type="radio" name="shipping-method" id="DHL" value="DHL" required />DHL
                </label>
                <label>
                    <input type="radio" name="shipping-method" id="UPS" value="UPS" required />UPS
                </label>
            </div>
        </div>
        </div>
    <div class="stack s-4">
        <label for="shipping-number-field" class="h4">Shipping Number (If Applicable)</label>
        <input type="text" name="Shipping Number" id="shipping-number-field" placeholder="eg. 105802384"/>
    </div>
</div>